## ASSINGMENT NO 07

In [7]:
class Employee:
    def __init__(self, name, number, address, salary, post, year_of_joining, education, year_of_experience):
        self.name = name
        self.number = number
        self.address = address
        self.salary = salary
        self.post = post
        self.year_of_joining = year_of_joining
        self.education = education
        self.year_of_experience = year_of_experience

    def describe_employee(self):
        print(f"Employee Name: {self.name}")
        print(f"Employee Number: {self.number}")
        print(f"Employee Address: {self.address}")
        print(f"Employee Salary: {self.salary}")
        print(f"Employee Post: {self.post}")
        print(f"Year of Joining: {self.year_of_joining}")
        print(f"Education: {self.education}")
        print(f"Years of Experience: {self.year_of_experience}")

    def update_year_of_experience(self):
        self.year_of_experience += 1
        print(f"Updated Years of Experience for {self.name}: {self.year_of_experience}")

    def increase_salary(self, increment):
        self.salary += increment
        print(f"New Salary for {self.name}: {self.salary}")

In [8]:
# Create instance employee101
employee101 = Employee("Ahmed Ali", 101, "Karachi", 50000, "Manager", 2015, "MBA", 8)

In [9]:
# Print four attributes individually
print(employee101.name)
print(employee101.number)
print(employee101.salary)
print(employee101.post)

Ahmed Ali
101
50000
Manager

In [10]:
# Call methods
employee101.describe_employee()
employee101.increase_salary(5000)
employee101.update_year_of_experience()

Employee Name: Ahmed Ali
Employee Number: 101
Employee Address: Karachi
Employee Salary: 50000
Employee Post: Manager
Year of Joining: 2015
Education: MBA
Years of Experience: 8
New Salary for Ahmed Ali: 55000
Updated Years of Experience for Ahmed Ali: 9

In [11]:
# Create 10 different instances
employees = [
    Employee("Sara Khan", 102, "Lahore", 45000, "Assistant", 2018, "BSc", 5),
    Employee("Zain Malik", 103, "Islamabad", 47000, "Senior Assistant", 2017, "BA", 6),
    Employee("Bilal Hussain", 104, "Peshawar", 60000, "Director", 2010, "MBA", 14),
    Employee("Ayesha Siddiqui", 105, "Quetta", 55000, "HR Manager", 2016, "MHRM", 7),
    Employee("Usman Tariq", 106, "Karachi", 52000, "Team Lead", 2014, "BBA", 9),
    Employee("Hina Farooq", 107, "Faisalabad", 49000, "Supervisor", 2019, "BSc", 4),
    Employee("Rizwan Ahmed", 108, "Multan", 65000, "CEO", 2008, "MBA", 16),
    Employee("Mariam Yousuf", 109, "Sialkot", 48000, "Developer", 2020, "BS IT", 3),
    Employee("Fahad Raza", 110, "Hyderabad", 53000, "Operations Manager", 2013, "BCom", 10),
    Employee("Nida Qureshi", 111, "Rawalpindi", 62000, "Finance Head", 2012, "MBA Finance", 12),
]

In [12]:
# Call describe_employee() for each instance
for employee in employees:
    employee.describe_employee()
    print()

Employee Name: Sara Khan
Employee Number: 102
Employee Address: Lahore
Employee Salary: 45000
Employee Post: Assistant
Year of Joining: 2018
Education: BSc
Years of Experience: 5

Employee Name: Zain Malik
Employee Number: 103
Employee Address: Islamabad
Employee Salary: 47000
Employee Post: Senior Assistant
Year of Joining: 2017
Education: BA
Years of Experience: 6

Employee Name: Bilal Hussain
Employee Number: 104
Employee Address: Peshawar
Employee Salary: 60000
Employee Post: Director
Year of Joining: 2010
Education: MBA
Years of Experience: 14

Employee Name: Ayesha Siddiqui
Employee Number: 105
Employee Address: Quetta
Employee Salary: 55000
Employee Post: HR Manager
Year of Joining: 2016
Education: MHRM
Years of Experience: 7

Employee Name: Usman Tariq
Employee Number: 106
Employee Address: Karachi
Employee Salary: 52000
Employee Post: Team Lead
Year of Joining: 2014
Education: BBA
Years of Experience: 9

Employee Name: Hina Farooq
Employee Number: 107
Employee Address: Faisalabad
Employee Salary: 49000
Employee Post: Supervisor
Year of Joining: 2019
Education: BSc
Years of Experience: 4

Employee Name: Rizwan Ahmed
Employee Number: 108
Employee Address: Multan
Employee Salary: 65000
Employee Post: CEO
Year of Joining: 2008
Education: MBA
Years of Experience: 16

Employee Name: Mariam Yousuf
Employee Number: 109
Employee Address: Sialkot
Employee Salary: 48000
Employee Post: Developer
Year of Joining: 2020
Education: BS IT
Years of Experience: 3

Employee Name: Fahad Raza
Employee Number: 110
Employee Address: Hyderabad
Employee Salary: 53000
Employee Post: Operations Manager
Year of Joining: 2013
Education: BCom
Years of Experience: 10

Employee Name: Nida Qureshi
Employee Number: 111
Employee Address: Rawalpindi
Employee Salary: 62000
Employee Post: Finance Head
Year of Joining: 2012
Education: MBA Finance
Years of Experience: 12

In [13]:
# Perform some updates
employees[0].increase_salary(3000)
employees[1].update_year_of_experience()
employees[2].increase_salary(4000)
employees[3].update_year_of_experience()

New Salary for Sara Khan: 48000
Updated Years of Experience for Zain Malik: 7
New Salary for Bilal Hussain: 64000
Updated Years of Experience for Ayesha Siddiqui: 8

### WITHOUT USING CLASSES (NON-OOP APPROACH)

In [14]:
def describe_employee(employee):
    print(f"Employee Name: {employee['name']}")
    print(f"Employee Number: {employee['number']}")
    print(f"Employee Address: {employee['address']}")
    print(f"Employee Salary: {employee['salary']}")
    print(f"Employee Post: {employee['post']}")
    print(f"Year of Joining: {employee['year_of_joining']}")
    print(f"Education: {employee['education']}")
    print(f"Years of Experience: {employee['year_of_experience']}")

def update_year_of_experience(employee):
    employee['year_of_experience'] += 1
    print(f"Updated Years of Experience for {employee['name']}: {employee['year_of_experience']}")

def increase_salary(employee, increment):
    employee['salary'] += increment
    print(f"New Salary for {employee['name']}: {employee['salary']}")

In [15]:
# Create employee101 as a dictionary
employee101 = {
    "name": "Ahmed Ali",
    "number": 101,
    "address": "Karachi",
    "salary": 50000,
    "post": "Manager",
    "year_of_joining": 2015,
    "education": "MBA",
    "year_of_experience": 8
}

In [16]:
# Print four attributes individually
print(employee101["name"])
print(employee101["number"])
print(employee101["salary"])
print(employee101["post"])

Ahmed Ali
101
50000
Manager

In [17]:
# Call functions
describe_employee(employee101)
increase_salary(employee101, 5000)
update_year_of_experience(employee101)

Employee Name: Ahmed Ali
Employee Number: 101
Employee Address: Karachi
Employee Salary: 50000
Employee Post: Manager
Year of Joining: 2015
Education: MBA
Years of Experience: 8
New Salary for Ahmed Ali: 55000
Updated Years of Experience for Ahmed Ali: 9

In [18]:
# Create 10 different employee dictionaries
employees = [
    {"name": "Sara Khan", "number": 102, "address": "Lahore", "salary": 45000, "post": "Assistant", "year_of_joining": 2018, "education": "BSc", "year_of_experience": 5},
    {"name": "Zain Malik", "number": 103, "address": "Islamabad", "salary": 47000, "post": "Senior Assistant", "year_of_joining": 2017, "education": "BA", "year_of_experience": 6},
    {"name": "Bilal Hussain", "number": 104, "address": "Peshawar", "salary": 60000, "post": "Director", "year_of_joining": 2010, "education": "MBA", "year_of_experience": 14},
    {"name": "Ayesha Siddiqui", "number": 105, "address": "Quetta", "salary": 55000, "post": "HR Manager", "year_of_joining": 2016, "education": "MHRM", "year_of_experience": 7},
    {"name": "Usman Tariq", "number": 106, "address": "Karachi", "salary": 52000, "post": "Team Lead", "year_of_joining": 2014, "education": "BBA", "year_of_experience": 9},
    {"name": "Hina Farooq", "number": 107, "address": "Faisalabad", "salary": 49000, "post": "Supervisor", "year_of_joining": 2019, "education": "BSc", "year_of_experience": 4},
    {"name": "Rizwan Ahmed", "number": 108, "address": "Multan", "salary": 65000, "post": "CEO", "year_of_joining": 2008, "education": "MBA", "year_of_experience": 16},
    {"name": "Mariam Yousuf", "number": 109, "address": "Sialkot", "salary": 48000, "post": "Developer", "year_of_joining": 2020, "education": "BS IT", "year_of_experience": 3},
    {"name": "Fahad Raza", "number": 110, "address": "Hyderabad", "salary": 53000, "post": "Operations Manager", "year_of_joining": 2013, "education": "BCom", "year_of_experience": 10},
    {"name": "Nida Qureshi", "number": 111, "address": "Rawalpindi", "salary": 62000, "post": "Finance Head", "year_of_joining": 2012, "education": "MBA Finance", "year_of_experience": 12},
]

In [19]:
# Call describe_employee() for each employee
for employee in employees:
    describe_employee(employee)
    print()

Employee Name: Sara Khan
Employee Number: 102
Employee Address: Lahore
Employee Salary: 45000
Employee Post: Assistant
Year of Joining: 2018
Education: BSc
Years of Experience: 5

Employee Name: Zain Malik
Employee Number: 103
Employee Address: Islamabad
Employee Salary: 47000
Employee Post: Senior Assistant
Year of Joining: 2017
Education: BA
Years of Experience: 6

Employee Name: Bilal Hussain
Employee Number: 104
Employee Address: Peshawar
Employee Salary: 60000
Employee Post: Director
Year of Joining: 2010
Education: MBA
Years of Experience: 14

Employee Name: Ayesha Siddiqui
Employee Number: 105
Employee Address: Quetta
Employee Salary: 55000
Employee Post: HR Manager
Year of Joining: 2016
Education: MHRM
Years of Experience: 7

Employee Name: Usman Tariq
Employee Number: 106
Employee Address: Karachi
Employee Salary: 52000
Employee Post: Team Lead
Year of Joining: 2014
Education: BBA
Years of Experience: 9

Employee Name: Hina Farooq
Employee Number: 107
Employee Address: Faisalabad
Employee Salary: 49000
Employee Post: Supervisor
Year of Joining: 2019
Education: BSc
Years of Experience: 4

Employee Name: Rizwan Ahmed
Employee Number: 108
Employee Address: Multan
Employee Salary: 65000
Employee Post: CEO
Year of Joining: 2008
Education: MBA
Years of Experience: 16

Employee Name: Mariam Yousuf
Employee Number: 109
Employee Address: Sialkot
Employee Salary: 48000
Employee Post: Developer
Year of Joining: 2020
Education: BS IT
Years of Experience: 3

Employee Name: Fahad Raza
Employee Number: 110
Employee Address: Hyderabad
Employee Salary: 53000
Employee Post: Operations Manager
Year of Joining: 2013
Education: BCom
Years of Experience: 10

Employee Name: Nida Qureshi
Employee Number: 111
Employee Address: Rawalpindi
Employee Salary: 62000
Employee Post: Finance Head
Year of Joining: 2012
Education: MBA Finance
Years of Experience: 12

In [20]:
# Perform some updates
increase_salary(employees[0], 3000)
update_year_of_experience(employees[1])
increase_salary(employees[2], 4000)
update_year_of_experience(employees[3])

New Salary for Sara Khan: 48000
Updated Years of Experience for Zain Malik: 7
New Salary for Bilal Hussain: 64000
Updated Years of Experience for Ayesha Siddiqui: 8